<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'entrée</title>
</head>
<body>

  <form th:action="@{/alea/processInput}">
    <label for="inputField">Nify :</label>
    <input type="text" id="inputField" name="nify" required>
    <label for="inputField">Note :</label>
    <input type="text" id="inputField" name="note" required>
    <button type="submit">Soumettre</button>
</form>

</body>
</html>
